.wrapper {
  width: 90%;
  margin: 0 auto;
}

.body {
  background: $primaryColor;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
}


button:hover,
button:focus {
  border-radius: 20px;
}

button:active {
  background: $buttonFilterActiveColor;
}