// Layout variables
$primaryColor: white;
$secondaryColor: Black;
$accentColor: rgb(244, 178, 51);
$borderColor: rgb(190, 190, 190);
$buttonFilterColor: rgb(244, 178, 51);
$buttonFilterActiveColor: rgb(165, 165, 0);
// Font colors
$primaryFontColor: black;
$secondaryFontColor: white;



